.cont{
    display: grid;
    grid-template-columns: auto auto;
}

body{
    background-color: rgb(206,180,166) !important;
}

.imgg{
    width: 30rem;
}

.cont-h{
    max-height: 100vh !important;
}

@media only screen and (max-width: 600px) {
    .login-signup{
        max-width: 90vw !important;
    }
    .pic-div img{
        width: 15rem;
    }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {

}

@media only screen and (min-width: 992px) {

}